a:hover{
    text-decoration: none;
}
.btn:disabled,.btn.disabled{
    cursor: default;
}

.g-color-success--hover:hover{
    color:#28a745;
  }
.g-color-secondary{
    color:#6c757d;
  }
  .g-font-size-dot7{
    font-size:0.7em;
  }